/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2015, 10:59:12 PM
    Author     : Amna Ali
*/

/* About Us Page */

.aboutPage .mainContent h1{
    font-size: 5em;
}

/* Sign up page */
.signUpPage .mainContent{
    width: 40%;
    margin-left: 307px;
}